body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #130720, #210923);
}

h1{
  font-family: 'Kulim Park', sans-serif;
  position: relative;
  color: #212121;
  font-size: 80px;
  letter-spacing: 15px;
  text-transform: uppercase;
  border-bottom: 18px solid #212121;

  &:before{
    position: absolute;
    top: 0;
    left: 0;
    content: 'Loading...';
    color: #1dff58;
    border-bottom: 18px solid #1dff58;
    overflow: hidden;
    animation: loading 8s infinite linear;
  }
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


